---
// src/components/HowitWorks.astro
---

<section id="how-it-works" class="py-18">
  <div class="max-w-6xl mx-auto px-8">
    <h2 class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-12">
      > Real-World Automation for Your Startup_
    </h2>
    <p class="text-xl mb-10">
      Our clients make their employees 10X more efficient by taking tedious,
      repetitive tasks off their plate. We are industry agnostic.
    </p>
    <div class="py-5 grid md:grid-cols-2 lg:grid-cols-3 gap-10 text-center">
      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/bullish--v1.png"
            alt="bullish--v1"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">
            Sales and marketing automation
          </h3>
        </div>
        <div>
          <p class="font-normal">
            Content creation, full-funnel automation, lead routing, CRM,
            outbound, payments, contracts and much more.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/control-panel.png"
            alt="control-panel"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">
            Image, voice, text recognition and analysis
          </h3>
        </div>
        <div>
          <p class="font-normal">
            Analyze and parse documents, biometrics, emotion, facial, products,
            videos and more to summarize or automate actions based off keywords,
            identity, sentiment, etc.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/message-bot.png"
            alt="message-bot"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">
            Conversational AI
          </h3>
        </div>
        <div>
          <p class="font-normal">
            Prompt engineering, automatic replies and more for customer service,
            sales, chat bots, front-office and marketing.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/requirements.png"
            alt="requirements"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">
            Project management
          </h3>
        </div>
        <div>
          <p class="font-normal">
            We connect all manual, repetitive steps in a process, from task
            handoff to completion. Such as onboarding, admin, accounting,
            invoicing.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/stopwatch.png"
            alt="stopwatch"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">
            Staff augmentation
          </h3>
        </div>
        <div>
          <p class="font-normal">
            Save employees hours a day by automating their most tedious daily
            tasks. We’ve even replaced entire teams of virtual assistants.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/database.png"
            alt="database"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">Data silos</h3>
        </div>
        <div>
          <p class="font-normal">
            We automate data entry, collection, cleansing and reporting from
            nuanced and silo’d locations, for fast and accurate decision making.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/headset--v2.png"
            alt="headset--v2"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">
            Customer service
          </h3>
        </div>
        <div>
          <p class="font-normal">
            Most customer service questions and responses are similar and
            repetitive. As a result, most CS tasks can be automated
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/two-smartphones.png"
            alt="two-smartphones"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">Connect apps</h3>
        </div>
        <div>
          <p class="font-normal">
            Most of your apps can be integrated with each-other for instant
            handoffs of data and consolidation of information.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/code.png"
            alt="code"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div>
          <h3 class="text-lg font-normal text-pale-aqua mb-6">
            Platform Engineering
          </h3>
        </div>
        <div>
          <p class="font-normal">
            Supercharge your development cycles with industry-standard
            DevOps and MLOps practices.
          </p>
        </div>
      </div>

      <!-- asa -->
    </div>
  </div>
</section>
