---
// src/components/HowitWorks.astro
---

<section id="our-process" class="py-18">
  <div class="max-w-6xl mx-auto px-8">
    <h2 class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-12">
      > Your Journey to an Automated Business_
    </h2>

    <!-- <div class="mb-16">
      <div class="space-y-4 text-lg font-light">
        <p>
          <strong class="text-pale-aqua font-medium"
            >Discovery & Strategy Call:
          </strong>We start with a free consultation to deeply understand your
          current workflows, pain points, and automation goals.
        </p>
        <p>
          <strong class="text-pale-aqua font-medium"
            >Workflow Design & Proposal:
          </strong>Based on our discussion, we map out the proposed
          automation(s), detailing the scope, integrations, and expected
          outcomes with a clear proposal.
        </p>
        <p>
          <strong class="text-pale-aqua font-medium"
            >Implementation & Rigorous Testing:
          </strong>Our experts build your custom automation workflows, ensuring
          they integrate seamlessly and function flawlessly through
          comprehensive testing.
        </p>
        <p>
          <strong class="text-pale-aqua font-medium"
            >Deployment & Handover:
          </strong>We deploy your live automations and provide clear
          documentation. We also offer optional training and ongoing
          support/optimization services to ensure your workflows adapt and
          continue to deliver maximum value as your business grows.
        </p>
      </div>
    </div> -->
    <p class="text-lg mb-8">
      We get under the hood of your business and find opportunities to replace
      the most manual, repetitive and expensive bottlenecks with AI-powered,
      automated processes. We only use AI if there’s a practical use case.
    </p>
    <div class="py-5 grid md:grid-cols-2 lg:grid-cols-4 gap-10 text-center mb-8 justify-center">
      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/personal-video-recorder-menu.png"
            alt="personal-video-recorder-menu"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div class="font-[Industry] text-cornflower-blue mb-4">STEP 1</div>
        <div class="font-semibold text-lg mb-4">We map out your processes</div>
        <div>
          <p class="font-normal">
            We’ll create a visual map of all your systems, manual tasks and
            apps.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/search--v1.png"
            alt="search--v1"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div class="font-[Industry] text-cornflower-blue mb-4">STEP 2</div>
        <div class="font-semibold text-lg mb-4">
          We find areas to add AI and automate
        </div>
        <div>
          <p class="font-normal">
            We audit your workflows to pinpoint opportunities with the highest
            ROI.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/maintenance.png"
            alt="maintenance"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div class="font-[Industry] text-cornflower-blue mb-4">STEP 3</div>
        <div class="font-semibold text-lg mb-4">We build and test</div>
        <div>
          <p class="font-normal">
            We use a mix of custom code, AI tools, and n8n and your tech stack.
          </p>
        </div>
      </div>

      <div class="max-w-sm p-4 shadow-sm flex flex-col">
        <div class="flex justify-center opacity-80">
          <img
            width="56"
            height="56"
            src="https://img.icons8.com/glyph-neue/64/sparkling--v1.png"
            alt="sparkling--v1"
            style="filter: invert(96%) sepia(1%) saturate(5788%) hue-rotate(182deg) brightness(85%) contrast(101%);"
            class="mb-4"
          />
        </div>
        <div class="font-[Industry] text-cornflower-blue mb-4">STEP 4</div>
        <div class="font-semibold text-lg mb-4">We manage and iterate</div>
        <div>
          <p class="font-normal">
            Every client we work with grows, so there’s always new things to
            automate. Free Consultation
          </p>
        </div>
      </div>

      <!-- --- -->
    </div>
    <p class="text-lg">
      We believe in practical, impactful automation that delivers measurable
      results quickly. Our focus is on empowering your team with solutions that
      are understandable and can evolve with your startup, not creating complex
      "black box" systems.
    </p>
  </div>
</section>
