---
// src/components/Solutions.astro
---

<section id="solutions" class="py-18">
  <section class="py-10 max-w-6xl mx-auto">
    <div class="max-w-6xl mx-auto px-8">
      <h2
        class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-14"
      >
        > The Ancillabs Automation Engine_
      </h2>
      <h3 class="mx-auto mb-6 text-3xl font-medium">
        <strong class="font-medium text-cornflower-blue">AI</strong> and <strong
          class="font-medium text-cornflower-blue">Automation</strong
        > technologies we are experts in...
      </h3>

      <p class="mx-auto mb-6 text-lg font-light">
        We are able to build complete processes using every one of these tools.
        There are countless more tools in the market which we have experience
        with or are capable of integrating.
      </p>

      <div class="py-5 grid md:grid-cols-2 lg:grid-cols-3 gap-8 justify-center">
        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="fill-[#EA4B71] w-18"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>n8n</title><path
                d="M21.4737 5.6842c-1.1772 0-2.1663.8051-2.4468 1.8947h-2.8955c-1.235 0-2.289.893-2.492 2.111l-.1038.623a1.263 1.263 0 0 1-1.246 1.0555H11.289c-.2805-1.0896-1.2696-1.8947-2.4468-1.8947s-2.1663.8051-2.4467 1.8947H4.973c-.2805-1.0896-1.2696-1.8947-2.4468-1.8947C1.1311 9.4737 0 10.6047 0 12s1.131 2.5263 2.5263 2.5263c1.1772 0 2.1663-.8051 2.4468-1.8947h1.4223c.2804 1.0896 1.2696 1.8947 2.4467 1.8947 1.1772 0 2.1663-.8051 2.4468-1.8947h1.0008a1.263 1.263 0 0 1 1.2459 1.0555l.1038.623c.203 1.218 1.257 2.111 2.492 2.111h.3692c.2804 1.0895 1.2696 1.8947 2.4468 1.8947 1.3952 0 2.5263-1.131 2.5263-2.5263s-1.131-2.5263-2.5263-2.5263c-1.1772 0-2.1664.805-2.4468 1.8947h-.3692a1.263 1.263 0 0 1-1.246-1.0555l-.1037-.623A2.52 2.52 0 0 0 13.9607 12a2.52 2.52 0 0 0 .821-1.4794l.1038-.623a1.263 1.263 0 0 1 1.2459-1.0555h2.8955c.2805 1.0896 1.2696 1.8947 2.4468 1.8947 1.3952 0 2.5263-1.131 2.5263-2.5263s-1.131-2.5263-2.5263-2.5263m0 1.2632a1.263 1.263 0 0 1 1.2631 1.2631 1.263 1.263 0 0 1-1.2631 1.2632 1.263 1.263 0 0 1-1.2632-1.2632 1.263 1.263 0 0 1 1.2632-1.2631M2.5263 10.7368A1.263 1.263 0 0 1 3.7895 12a1.263 1.263 0 0 1-1.2632 1.2632A1.263 1.263 0 0 1 1.2632 12a1.263 1.263 0 0 1 1.2631-1.2632m6.3158 0A1.263 1.263 0 0 1 10.1053 12a1.263 1.263 0 0 1-1.2632 1.2632A1.263 1.263 0 0 1 7.579 12a1.263 1.263 0 0 1 1.2632-1.2632m10.1053 3.7895a1.263 1.263 0 0 1 1.2631 1.2632 1.263 1.263 0 0 1-1.2631 1.2631 1.263 1.263 0 0 1-1.2632-1.2631 1.263 1.263 0 0 1 1.2632-1.2632"
              ></path></svg
            >
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>n8n</strong> is a leading-edge, fair-code workflow automation
                tool. It allows us to connect hundreds of your favorite applications.
              </p>
            </p>
          </div>
        </div>

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="fill-white w-18"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>OpenAI</title><path
                d="M22.2819 9.8211a5.9847 5.9847 0 0 0-.5157-4.9108 6.0462 6.0462 0 0 0-6.5098-2.9A6.0651 6.0651 0 0 0 4.9807 4.1818a5.9847 5.9847 0 0 0-3.9977 2.9 6.0462 6.0462 0 0 0 .7427 7.0966 5.98 5.98 0 0 0 .511 4.9107 6.051 6.051 0 0 0 6.5146 2.9001A5.9847 5.9847 0 0 0 13.2599 24a6.0557 6.0557 0 0 0 5.7718-4.2058 5.9894 5.9894 0 0 0 3.9977-2.9001 6.0557 6.0557 0 0 0-.7475-7.0729zm-9.022 12.6081a4.4755 4.4755 0 0 1-2.8764-1.0408l.1419-.0804 4.7783-2.7582a.7948.7948 0 0 0 .3927-.6813v-6.7369l2.02 1.1686a.071.071 0 0 1 .038.052v5.5826a4.504 4.504 0 0 1-4.4945 4.4944zm-9.6607-4.1254a4.4708 4.4708 0 0 1-.5346-3.0137l.142.0852 4.783 2.7582a.7712.7712 0 0 0 .7806 0l5.8428-3.3685v2.3324a.0804.0804 0 0 1-.0332.0615L9.74 19.9502a4.4992 4.4992 0 0 1-6.1408-1.6464zM2.3408 7.8956a4.485 4.485 0 0 1 2.3655-1.9728V11.6a.7664.7664 0 0 0 .3879.6765l5.8144 3.3543-2.0201 1.1685a.0757.0757 0 0 1-.071 0l-4.8303-2.7865A4.504 4.504 0 0 1 2.3408 7.872zm16.5963 3.8558L13.1038 8.364 15.1192 7.2a.0757.0757 0 0 1 .071 0l4.8303 2.7913a4.4944 4.4944 0 0 1-.6765 8.1042v-5.6772a.79.79 0 0 0-.407-.667zm2.0107-3.0231l-.142-.0852-4.7735-2.7818a.7759.7759 0 0 0-.7854 0L9.409 9.2297V6.8974a.0662.0662 0 0 1 .0284-.0615l4.8303-2.7866a4.4992 4.4992 0 0 1 6.6802 4.66zM8.3065 12.863l-2.02-1.1638a.0804.0804 0 0 1-.038-.0567V6.0742a4.4992 4.4992 0 0 1 7.3757-3.4537l-.142.0805L8.704 5.459a.7948.7948 0 0 0-.3927.6813zm1.0976-2.3654l2.602-1.4998 2.6069 1.4998v2.9994l-2.5974 1.4997-2.6067-1.4997Z"
              ></path></svg
            >
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>Open AI</strong> is the company that invented ChatGPT and
                other popular AI models. We’re constantly testing it's newest innovations.
              </p>
            </p>
          </div>
        </div>

        <!-- <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
        <div class="flex justify-center opacity-80">
          <svg
            class="fill-[#D97757] w-18"
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>Claude</title><path
              d="m4.7144 15.9555 4.7174-2.6471.079-.2307-.079-.1275h-.2307l-.7893-.0486-2.6956-.0729-2.3375-.0971-2.2646-.1214-.5707-.1215-.5343-.7042.0546-.3522.4797-.3218.686.0608 1.5179.1032 2.2767.1578 1.6514.0972 2.4468.255h.3886l.0546-.1579-.1336-.0971-.1032-.0972L6.973 9.8356l-2.55-1.6879-1.3356-.9714-.7225-.4918-.3643-.4614-.1578-1.0078.6557-.7225.8803.0607.2246.0607.8925.686 1.9064 1.4754 2.4893 1.8336.3643.3035.1457-.1032.0182-.0728-.164-.2733-1.3539-2.4467-1.445-2.4893-.6435-1.032-.17-.6194c-.0607-.255-.1032-.4674-.1032-.7285L6.287.1335 6.6997 0l.9957.1336.419.3642.6192 1.4147 1.0018 2.2282 1.5543 3.0296.4553.8985.2429.8318.091.255h.1579v-.1457l.1275-1.706.2368-2.0947.2307-2.6957.0789-.7589.3764-.9107.7468-.4918.5828.2793.4797.686-.0668.4433-.2853 1.8517-.5586 2.9021-.3643 1.9429h.2125l.2429-.2429.9835-1.3053 1.6514-2.0643.7286-.8196.85-.9046.5464-.4311h1.0321l.759 1.1293-.34 1.1657-1.0625 1.3478-.8804 1.1414-1.2628 1.7-.7893 1.36.0729.1093.1882-.0183 2.8535-.607 1.5421-.2794 1.8396-.3157.8318.3886.091.3946-.3278.8075-1.967.4857-2.3072.4614-3.4364.8136-.0425.0304.0486.0607 1.5482.1457.6618.0364h1.621l3.0175.2247.7892.522.4736.6376-.079.4857-1.2142.6193-1.6393-.3886-3.825-.9107-1.3113-.3279h-.1822v.1093l1.0929 1.0686 2.0035 1.8092 2.5075 2.3314.1275.5768-.3218.4554-.34-.0486-2.2039-1.6575-.85-.7468-1.9246-1.621h-.1275v.17l.4432.6496 2.3436 3.5214.1214 1.0807-.17.3521-.6071.2125-.6679-.1214-1.3721-1.9246L14.38 17.959l-1.1414-1.9428-.1397.079-.674 7.2552-.3156.3703-.7286.2793-.6071-.4614-.3218-.7468.3218-1.4753.3886-1.9246.3157-1.53.2853-1.9004.17-.6314-.0121-.0425-.1397.0182-1.4328 1.9672-2.1796 2.9446-1.7243 1.8456-.4128.164-.7164-.3704.0667-.6618.4008-.5889 2.386-3.0357 1.4389-1.882.929-1.0868-.0062-.1579h-.0546l-6.3385 4.1164-1.1293.1457-.4857-.4554.0608-.7467.2307-.2429 1.9064-1.3114Z"
            ></path></svg
          >
        </div>
        <div>
          <p class="mb-3 font-light">
            <p class="font-normal">
              <strong>n8n</strong> is a leading-edge, fair-code workflow automation
              tool. It allows us to connect hundreds of your favorite applications.
            </p>
          </p>
        </div>
      </div> -->

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="fill-[#8E75B2] w-18"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Google Gemini</title><path
                d="M11.04 19.32Q12 21.51 12 24q0-2.49.93-4.68.96-2.19 2.58-3.81t3.81-2.55Q21.51 12 24 12q-2.49 0-4.68-.93a12.3 12.3 0 0 1-3.81-2.58 12.3 12.3 0 0 1-2.58-3.81Q12 2.49 12 0q0 2.49-.96 4.68-.93 2.19-2.55 3.81a12.3 12.3 0 0 1-3.81 2.58Q2.49 12 0 12q2.49 0 4.68.96 2.19.93 3.81 2.55t2.55 3.81"
              ></path></svg
            >
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>Gemini</strong> is Google’s official AI project and competitor
                to Chat GPT.
              </p>
            </p>
          </div>
        </div>

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="w-18"
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              viewBox="0 0 48 48"
              ><title>Deepseek</title>
              <path
                fill="#536dfe"
                d="M47.496,10.074c-0.508-0.249-0.727,0.226-1.025,0.467c-0.102,0.078-0.188,0.179-0.274,0.272	c-0.743,0.794-1.611,1.315-2.746,1.253c-1.658-0.093-3.074,0.428-4.326,1.696c-0.266-1.564-1.15-2.498-2.495-3.097	c-0.704-0.311-1.416-0.623-1.909-1.3c-0.344-0.482-0.438-1.019-0.61-1.548c-0.11-0.319-0.219-0.646-0.587-0.7	c-0.399-0.062-0.555,0.272-0.712,0.553c-0.626,1.144-0.868,2.405-0.845,3.681c0.055,2.871,1.267,5.159,3.676,6.785	c0.274,0.187,0.344,0.373,0.258,0.646c-0.164,0.56-0.36,1.105-0.532,1.665c-0.11,0.358-0.274,0.436-0.657,0.28	c-1.322-0.552-2.464-1.369-3.473-2.358c-1.713-1.657-3.262-3.486-5.194-4.918c-0.454-0.335-0.907-0.646-1.377-0.942	c-1.971-1.914,0.258-3.486,0.774-3.673c0.54-0.195,0.188-0.864-1.557-0.856c-1.744,0.008-3.34,0.591-5.374,1.369	c-0.297,0.117-0.61,0.202-0.931,0.272c-1.846-0.35-3.763-0.428-5.765-0.202c-3.77,0.42-6.782,2.202-8.996,5.245	c-2.66,3.657-3.285,7.812-2.519,12.147c0.806,4.568,3.137,8.349,6.719,11.306c3.716,3.066,7.994,4.568,12.876,4.28	c2.965-0.171,6.266-0.568,9.989-3.719c0.939,0.467,1.924,0.654,3.559,0.794c1.259,0.117,2.472-0.062,3.411-0.257	c1.471-0.311,1.369-1.673,0.837-1.922C34,36,33.471,35.441,33.471,35.441c2.19-2.591,5.491-5.284,6.782-14.007	c0.102-0.692,0.016-1.128,0-1.689c-0.008-0.342,0.07-0.475,0.462-0.514c1.079-0.125,2.128-0.42,3.09-0.949	c2.793-1.525,3.919-4.031,4.185-7.034C48.028,10.79,47.981,10.315,47.496,10.074z M23.161,37.107	c-4.177-3.284-6.203-4.365-7.04-4.319c-0.782,0.047-0.641,0.942-0.469,1.525c0.18,0.576,0.415,0.973,0.743,1.478	c0.227,0.335,0.383,0.833-0.227,1.206c-1.345,0.833-3.684-0.28-3.794-0.335c-2.722-1.603-4.998-3.72-6.602-6.614	c-1.549-2.786-2.448-5.774-2.597-8.964c-0.039-0.77,0.188-1.043,0.954-1.183c1.009-0.187,2.049-0.226,3.059-0.078	c4.263,0.623,7.893,2.529,10.936,5.548c1.737,1.72,3.051,3.774,4.404,5.782c1.439,2.132,2.988,4.163,4.959,5.828	c0.696,0.584,1.252,1.027,1.783,1.354C27.667,38.515,24.991,38.554,23.161,37.107L23.161,37.107z M25.164,24.228	c0-0.342,0.274-0.615,0.618-0.615c0.078,0,0.149,0.015,0.211,0.039c0.086,0.031,0.164,0.078,0.227,0.148	c0.11,0.109,0.172,0.265,0.172,0.428c0,0.342-0.274,0.615-0.618,0.615S25.164,24.571,25.164,24.228L25.164,24.228z M31.382,27.419	c-0.399,0.163-0.798,0.303-1.181,0.319c-0.595,0.031-1.244-0.21-1.596-0.506c-0.548-0.459-0.939-0.716-1.103-1.517	c-0.07-0.342-0.031-0.872,0.031-1.175c0.141-0.654-0.016-1.074-0.477-1.455c-0.376-0.311-0.853-0.397-1.377-0.397	c-0.196,0-0.375-0.086-0.508-0.156c-0.219-0.109-0.399-0.381-0.227-0.716c0.055-0.109,0.321-0.373,0.383-0.42	c0.712-0.405,1.533-0.272,2.292,0.031c0.704,0.288,1.236,0.817,2.003,1.564c0.782,0.903,0.923,1.152,1.369,1.829	c0.352,0.529,0.673,1.074,0.892,1.696C32.016,26.905,31.844,27.224,31.382,27.419L31.382,27.419z"
              ></path>
            </svg>
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>DeepSeek</strong> is a Chinese artificial intelligence company
                that develops LLMs. Their pricing is the most competitive in the
                market.
              </p>
            </p>
          </div>
        </div>

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="w-18"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.0164 2C10.8193 2 9.03825 3.72453 9.03825 5.85185V8.51852H15.9235V9.25926H5.97814C3.78107 9.25926 2 10.9838 2 13.1111L2 18.8889C2 21.0162 3.78107 22.7407 5.97814 22.7407H8.27322V19.4815C8.27322 17.3542 10.0543 15.6296 12.2514 15.6296H19.5956C21.4547 15.6296 22.9617 14.1704 22.9617 12.3704V5.85185C22.9617 3.72453 21.1807 2 18.9836 2H13.0164ZM12.0984 6.74074C12.8589 6.74074 13.4754 6.14378 13.4754 5.40741C13.4754 4.67103 12.8589 4.07407 12.0984 4.07407C11.3378 4.07407 10.7213 4.67103 10.7213 5.40741C10.7213 6.14378 11.3378 6.74074 12.0984 6.74074Z"
                fill="url(#paint0_linear_87_8204)"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.9834 30C21.1805 30 22.9616 28.2755 22.9616 26.1482V23.4815L16.0763 23.4815L16.0763 22.7408L26.0217 22.7408C28.2188 22.7408 29.9998 21.0162 29.9998 18.8889V13.1111C29.9998 10.9838 28.2188 9.25928 26.0217 9.25928L23.7266 9.25928V12.5185C23.7266 14.6459 21.9455 16.3704 19.7485 16.3704L12.4042 16.3704C10.5451 16.3704 9.03809 17.8296 9.03809 19.6296L9.03809 26.1482C9.03809 28.2755 10.8192 30 13.0162 30H18.9834ZM19.9015 25.2593C19.1409 25.2593 18.5244 25.8562 18.5244 26.5926C18.5244 27.329 19.1409 27.9259 19.9015 27.9259C20.662 27.9259 21.2785 27.329 21.2785 26.5926C21.2785 25.8562 20.662 25.2593 19.9015 25.2593Z"
                fill="url(#paint1_linear_87_8204)"></path>
              <defs>
                <linearGradient
                  id="paint0_linear_87_8204"
                  x1="12.4809"
                  y1="2"
                  x2="12.4809"
                  y2="22.7407"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#327EBD"></stop>
                  <stop offset="1" stop-color="#1565A7"></stop>
                </linearGradient>
                <linearGradient
                  id="paint1_linear_87_8204"
                  x1="19.519"
                  y1="9.25928"
                  x2="19.519"
                  y2="30"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FFDA4B"></stop>
                  <stop offset="1" stop-color="#F9C600"></stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>Python</strong> is the most popular programming language
                used for machine learning and artificial intelligence.
              </p>
            </p>
          </div>
        </div>

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="fill-[#3178C6] w-18"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>TypeScript</title><path
                d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"
              ></path></svg
            >
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>TypeScript</strong> is a language for application-scale JavaScript,
                commonly used in frontend programming.
              </p>
            </p>
          </div>
        </div>

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="fill-[#844FBA] w-18"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Terraform</title><path
                d="M1.44 0v7.575l6.561 3.79V3.787zm21.12 4.227l-6.561 3.791v7.574l6.56-3.787zM8.72 4.23v7.575l6.561 3.787V8.018zm0 8.405v7.575L15.28 24v-7.578z"
              ></path></svg
            >
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>Terraform</strong> is an infrastructure-as-code tool that
                allows us to define and provision your infrastructure with industry
                standards.
              </p>
            </p>
          </div>
        </div>

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg class="w-18 h-18" xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M40.728 20.488l2.05.035 5.57-5.57.27-2.36C44.2 8.657 38.367 6.26 31.993 6.26c-11.54 0-21.28 7.852-24.163 18.488.608-.424 1.908-.106 1.908-.106l11.13-1.83s.572-.947.862-.9A13.88 13.88 0 0 1 32 17.375c3.3.007 6.34 1.173 8.728 3.102z"
                fill="#ea4335"></path><path
                d="M56.17 24.77c-1.293-4.77-3.958-8.982-7.555-12.177l-7.887 7.887c3.16 2.55 5.187 6.452 5.187 10.82v1.392c3.837 0 6.954 3.124 6.954 6.954 0 3.837-3.124 6.954-6.954 6.954H32.007L30.615 48v8.346l1.392 1.385h13.908A18.11 18.11 0 0 0 64 39.647c-.007-6.155-3.1-11.6-7.83-14.876z"
                fill="#4285f4"></path><path
                d="M18.085 57.74h13.9V46.6h-13.9a6.89 6.89 0 0 1-2.862-.622l-2.007.615-5.57 5.57-.488 1.88a18 18 0 0 0 10.926 3.689z"
                fill="#34a853"></path><path
                d="M18.085 21.57A18.11 18.11 0 0 0 0 39.654c0 5.873 2.813 11.095 7.166 14.403l8.064-8.064a6.96 6.96 0 0 1-4.099-6.339c0-3.837 3.124-6.954 6.954-6.954 2.82 0 5.244 1.7 6.34 4.1l8.064-8.064c-3.307-4.353-8.53-7.166-14.403-7.166z"
                fill="#fbbc05"></path></svg
            >
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>GCP</strong> is a suite of cloud computing services offered
                by Google and competitor to AWS.
              </p>
            </p>
          </div>
        </div>

        <div class="max-w-sm p-4 shadow-sm flex flex-col text-center">
          <div class="flex justify-center opacity-80">
            <svg
              class="w-18 h-18"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
            >
              <path
                fill="#252F3E"
                d="M4.51 7.687c0 .197.02.357.058.475.042.117.096.245.17.384a.233.233 0 01.037.123c0 .053-.032.107-.1.16l-.336.224a.255.255 0 01-.138.048c-.054 0-.107-.026-.16-.074a1.652 1.652 0 01-.192-.251 4.137 4.137 0 01-.165-.315c-.415.491-.936.737-1.564.737-.447 0-.804-.129-1.064-.385-.261-.256-.394-.598-.394-1.025 0-.454.16-.822.484-1.1.325-.278.756-.416 1.304-.416.18 0 .367.016.564.042.197.027.4.07.612.118v-.39c0-.406-.085-.689-.25-.854-.17-.166-.458-.246-.868-.246-.186 0-.377.022-.574.07a4.23 4.23 0 00-.575.181 1.525 1.525 0 01-.186.07.326.326 0 01-.085.016c-.075 0-.112-.054-.112-.166v-.262c0-.085.01-.15.037-.186a.399.399 0 01.15-.113c.185-.096.409-.176.67-.24.26-.07.537-.101.83-.101.633 0 1.096.144 1.394.432.293.288.442.726.442 1.314v1.73h.01zm-2.161.811c.175 0 .356-.032.548-.096.191-.064.362-.182.505-.342a.848.848 0 00.181-.341c.032-.129.054-.283.054-.465V7.03a4.43 4.43 0 00-.49-.09 3.996 3.996 0 00-.5-.033c-.357 0-.618.07-.793.214-.176.144-.26.347-.26.614 0 .25.063.437.196.566.128.133.314.197.559.197zm4.273.577c-.096 0-.16-.016-.202-.054-.043-.032-.08-.106-.112-.208l-1.25-4.127a.938.938 0 01-.049-.214c0-.085.043-.133.128-.133h.522c.1 0 .17.016.207.053.043.032.075.107.107.208l.894 3.535.83-3.535c.026-.106.058-.176.1-.208a.365.365 0 01.214-.053h.425c.102 0 .17.016.213.053.043.032.08.107.101.208l.841 3.578.92-3.578a.458.458 0 01.107-.208.346.346 0 01.208-.053h.495c.085 0 .133.043.133.133 0 .027-.006.054-.01.086a.76.76 0 01-.038.133l-1.283 4.127c-.032.107-.069.177-.111.209a.34.34 0 01-.203.053h-.457c-.101 0-.17-.016-.213-.053-.043-.038-.08-.107-.101-.214L8.213 5.37l-.82 3.439c-.026.107-.058.176-.1.213-.043.038-.118.054-.213.054h-.458zm6.838.144a3.51 3.51 0 01-.82-.096c-.266-.064-.473-.134-.612-.214-.085-.048-.143-.101-.165-.15a.378.378 0 01-.031-.149v-.272c0-.112.042-.166.122-.166a.3.3 0 01.096.016c.032.011.08.032.133.054.18.08.378.144.585.187.213.042.42.064.633.064.336 0 .596-.059.777-.176a.575.575 0 00.277-.508.52.52 0 00-.144-.373c-.095-.102-.276-.193-.537-.278l-.772-.24c-.388-.123-.676-.305-.851-.545a1.275 1.275 0 01-.266-.774c0-.224.048-.422.143-.593.096-.17.224-.32.384-.438.16-.122.34-.213.553-.277.213-.064.436-.091.67-.091.118 0 .24.005.357.021.122.016.234.038.346.06.106.026.208.052.303.085.096.032.17.064.224.096a.46.46 0 01.16.133.289.289 0 01.047.176v.251c0 .112-.042.171-.122.171a.552.552 0 01-.202-.064 2.427 2.427 0 00-1.022-.208c-.303 0-.543.048-.708.15-.165.1-.25.256-.25.475 0 .149.053.277.16.379.106.101.303.202.585.293l.756.24c.383.123.66.294.825.513.165.219.244.47.244.748 0 .23-.047.437-.138.619a1.436 1.436 0 01-.388.47c-.165.133-.362.23-.591.299-.24.075-.49.112-.761.112z"
              ></path>

              <g fill="#F90" fill-rule="evenodd" clip-rule="evenodd">
                <path
                  d="M14.465 11.813c-1.75 1.297-4.294 1.986-6.481 1.986-3.065 0-5.827-1.137-7.913-3.027-.165-.15-.016-.353.18-.235 2.257 1.313 5.04 2.109 7.92 2.109 1.941 0 4.075-.406 6.039-1.239.293-.133.543.192.255.406z"
                ></path>

                <path
                  d="M15.194 10.98c-.223-.287-1.479-.138-2.048-.069-.17.022-.197-.128-.043-.24 1-.705 2.645-.502 2.836-.267.192.24-.053 1.89-.99 2.68-.143.123-.281.06-.218-.1.213-.53.687-1.72.463-2.003z"
                ></path>
              </g>
            </svg>
          </div>
          <div>
            <p class="mb-3 font-light">
              <p class="font-normal">
                <strong>AWS</strong> offers a wide variety of cloud computing services.
              </p>
            </p>
          </div>
        </div>

        <!-- aa -->
        <!-- <div class="flex flex-col items-center text-center">
        <div
          class="grid gap-4 md:grid-cols-2 lg:grid-cols-2 w-fit"
        >
          <div>
            <svg
              class="fill-white w-10"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>OpenAI</title><path
                d="M22.2819 9.8211a5.9847 5.9847 0 0 0-.5157-4.9108 6.0462 6.0462 0 0 0-6.5098-2.9A6.0651 6.0651 0 0 0 4.9807 4.1818a5.9847 5.9847 0 0 0-3.9977 2.9 6.0462 6.0462 0 0 0 .7427 7.0966 5.98 5.98 0 0 0 .511 4.9107 6.051 6.051 0 0 0 6.5146 2.9001A5.9847 5.9847 0 0 0 13.2599 24a6.0557 6.0557 0 0 0 5.7718-4.2058 5.9894 5.9894 0 0 0 3.9977-2.9001 6.0557 6.0557 0 0 0-.7475-7.0729zm-9.022 12.6081a4.4755 4.4755 0 0 1-2.8764-1.0408l.1419-.0804 4.7783-2.7582a.7948.7948 0 0 0 .3927-.6813v-6.7369l2.02 1.1686a.071.071 0 0 1 .038.052v5.5826a4.504 4.504 0 0 1-4.4945 4.4944zm-9.6607-4.1254a4.4708 4.4708 0 0 1-.5346-3.0137l.142.0852 4.783 2.7582a.7712.7712 0 0 0 .7806 0l5.8428-3.3685v2.3324a.0804.0804 0 0 1-.0332.0615L9.74 19.9502a4.4992 4.4992 0 0 1-6.1408-1.6464zM2.3408 7.8956a4.485 4.485 0 0 1 2.3655-1.9728V11.6a.7664.7664 0 0 0 .3879.6765l5.8144 3.3543-2.0201 1.1685a.0757.0757 0 0 1-.071 0l-4.8303-2.7865A4.504 4.504 0 0 1 2.3408 7.872zm16.5963 3.8558L13.1038 8.364 15.1192 7.2a.0757.0757 0 0 1 .071 0l4.8303 2.7913a4.4944 4.4944 0 0 1-.6765 8.1042v-5.6772a.79.79 0 0 0-.407-.667zm2.0107-3.0231l-.142-.0852-4.7735-2.7818a.7759.7759 0 0 0-.7854 0L9.409 9.2297V6.8974a.0662.0662 0 0 1 .0284-.0615l4.8303-2.7866a4.4992 4.4992 0 0 1 6.6802 4.66zM8.3065 12.863l-2.02-1.1638a.0804.0804 0 0 1-.038-.0567V6.0742a4.4992 4.4992 0 0 1 7.3757-3.4537l-.142.0805L8.704 5.459a.7948.7948 0 0 0-.3927.6813zm1.0976-2.3654l2.602-1.4998 2.6069 1.4998v2.9994l-2.5974 1.4997-2.6067-1.4997Z"
              ></path></svg
            >
          </div>
          <div>
            <svg
              class="fill-[#D97757] w-10"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Claude</title><path
                d="m4.7144 15.9555 4.7174-2.6471.079-.2307-.079-.1275h-.2307l-.7893-.0486-2.6956-.0729-2.3375-.0971-2.2646-.1214-.5707-.1215-.5343-.7042.0546-.3522.4797-.3218.686.0608 1.5179.1032 2.2767.1578 1.6514.0972 2.4468.255h.3886l.0546-.1579-.1336-.0971-.1032-.0972L6.973 9.8356l-2.55-1.6879-1.3356-.9714-.7225-.4918-.3643-.4614-.1578-1.0078.6557-.7225.8803.0607.2246.0607.8925.686 1.9064 1.4754 2.4893 1.8336.3643.3035.1457-.1032.0182-.0728-.164-.2733-1.3539-2.4467-1.445-2.4893-.6435-1.032-.17-.6194c-.0607-.255-.1032-.4674-.1032-.7285L6.287.1335 6.6997 0l.9957.1336.419.3642.6192 1.4147 1.0018 2.2282 1.5543 3.0296.4553.8985.2429.8318.091.255h.1579v-.1457l.1275-1.706.2368-2.0947.2307-2.6957.0789-.7589.3764-.9107.7468-.4918.5828.2793.4797.686-.0668.4433-.2853 1.8517-.5586 2.9021-.3643 1.9429h.2125l.2429-.2429.9835-1.3053 1.6514-2.0643.7286-.8196.85-.9046.5464-.4311h1.0321l.759 1.1293-.34 1.1657-1.0625 1.3478-.8804 1.1414-1.2628 1.7-.7893 1.36.0729.1093.1882-.0183 2.8535-.607 1.5421-.2794 1.8396-.3157.8318.3886.091.3946-.3278.8075-1.967.4857-2.3072.4614-3.4364.8136-.0425.0304.0486.0607 1.5482.1457.6618.0364h1.621l3.0175.2247.7892.522.4736.6376-.079.4857-1.2142.6193-1.6393-.3886-3.825-.9107-1.3113-.3279h-.1822v.1093l1.0929 1.0686 2.0035 1.8092 2.5075 2.3314.1275.5768-.3218.4554-.34-.0486-2.2039-1.6575-.85-.7468-1.9246-1.621h-.1275v.17l.4432.6496 2.3436 3.5214.1214 1.0807-.17.3521-.6071.2125-.6679-.1214-1.3721-1.9246L14.38 17.959l-1.1414-1.9428-.1397.079-.674 7.2552-.3156.3703-.7286.2793-.6071-.4614-.3218-.7468.3218-1.4753.3886-1.9246.3157-1.53.2853-1.9004.17-.6314-.0121-.0425-.1397.0182-1.4328 1.9672-2.1796 2.9446-1.7243 1.8456-.4128.164-.7164-.3704.0667-.6618.4008-.5889 2.386-3.0357 1.4389-1.882.929-1.0868-.0062-.1579h-.0546l-6.3385 4.1164-1.1293.1457-.4857-.4554.0608-.7467.2307-.2429 1.9064-1.3114Z"
              ></path></svg
            >
          </div>

          <div>
            <svg
              class="fill-[#8E75B2] w-10"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><title>Google Gemini</title><path
                d="M11.04 19.32Q12 21.51 12 24q0-2.49.93-4.68.96-2.19 2.58-3.81t3.81-2.55Q21.51 12 24 12q-2.49 0-4.68-.93a12.3 12.3 0 0 1-3.81-2.58 12.3 12.3 0 0 1-2.58-3.81Q12 2.49 12 0q0 2.49-.96 4.68-.93 2.19-2.55 3.81a12.3 12.3 0 0 1-3.81 2.58Q2.49 12 0 12q2.49 0 4.68.96 2.19.93 3.81 2.55t2.55 3.81"
              ></path></svg
            >
          </div>

          <div>
            <svg
              class="fill-[#8E75B2] w-10"
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              viewBox="0 0 48 48"
            >
              <path
                fill="#536dfe"
                d="M47.496,10.074c-0.508-0.249-0.727,0.226-1.025,0.467c-0.102,0.078-0.188,0.179-0.274,0.272	c-0.743,0.794-1.611,1.315-2.746,1.253c-1.658-0.093-3.074,0.428-4.326,1.696c-0.266-1.564-1.15-2.498-2.495-3.097	c-0.704-0.311-1.416-0.623-1.909-1.3c-0.344-0.482-0.438-1.019-0.61-1.548c-0.11-0.319-0.219-0.646-0.587-0.7	c-0.399-0.062-0.555,0.272-0.712,0.553c-0.626,1.144-0.868,2.405-0.845,3.681c0.055,2.871,1.267,5.159,3.676,6.785	c0.274,0.187,0.344,0.373,0.258,0.646c-0.164,0.56-0.36,1.105-0.532,1.665c-0.11,0.358-0.274,0.436-0.657,0.28	c-1.322-0.552-2.464-1.369-3.473-2.358c-1.713-1.657-3.262-3.486-5.194-4.918c-0.454-0.335-0.907-0.646-1.377-0.942	c-1.971-1.914,0.258-3.486,0.774-3.673c0.54-0.195,0.188-0.864-1.557-0.856c-1.744,0.008-3.34,0.591-5.374,1.369	c-0.297,0.117-0.61,0.202-0.931,0.272c-1.846-0.35-3.763-0.428-5.765-0.202c-3.77,0.42-6.782,2.202-8.996,5.245	c-2.66,3.657-3.285,7.812-2.519,12.147c0.806,4.568,3.137,8.349,6.719,11.306c3.716,3.066,7.994,4.568,12.876,4.28	c2.965-0.171,6.266-0.568,9.989-3.719c0.939,0.467,1.924,0.654,3.559,0.794c1.259,0.117,2.472-0.062,3.411-0.257	c1.471-0.311,1.369-1.673,0.837-1.922C34,36,33.471,35.441,33.471,35.441c2.19-2.591,5.491-5.284,6.782-14.007	c0.102-0.692,0.016-1.128,0-1.689c-0.008-0.342,0.07-0.475,0.462-0.514c1.079-0.125,2.128-0.42,3.09-0.949	c2.793-1.525,3.919-4.031,4.185-7.034C48.028,10.79,47.981,10.315,47.496,10.074z M23.161,37.107	c-4.177-3.284-6.203-4.365-7.04-4.319c-0.782,0.047-0.641,0.942-0.469,1.525c0.18,0.576,0.415,0.973,0.743,1.478	c0.227,0.335,0.383,0.833-0.227,1.206c-1.345,0.833-3.684-0.28-3.794-0.335c-2.722-1.603-4.998-3.72-6.602-6.614	c-1.549-2.786-2.448-5.774-2.597-8.964c-0.039-0.77,0.188-1.043,0.954-1.183c1.009-0.187,2.049-0.226,3.059-0.078	c4.263,0.623,7.893,2.529,10.936,5.548c1.737,1.72,3.051,3.774,4.404,5.782c1.439,2.132,2.988,4.163,4.959,5.828	c0.696,0.584,1.252,1.027,1.783,1.354C27.667,38.515,24.991,38.554,23.161,37.107L23.161,37.107z M25.164,24.228	c0-0.342,0.274-0.615,0.618-0.615c0.078,0,0.149,0.015,0.211,0.039c0.086,0.031,0.164,0.078,0.227,0.148	c0.11,0.109,0.172,0.265,0.172,0.428c0,0.342-0.274,0.615-0.618,0.615S25.164,24.571,25.164,24.228L25.164,24.228z M31.382,27.419	c-0.399,0.163-0.798,0.303-1.181,0.319c-0.595,0.031-1.244-0.21-1.596-0.506c-0.548-0.459-0.939-0.716-1.103-1.517	c-0.07-0.342-0.031-0.872,0.031-1.175c0.141-0.654-0.016-1.074-0.477-1.455c-0.376-0.311-0.853-0.397-1.377-0.397	c-0.196,0-0.375-0.086-0.508-0.156c-0.219-0.109-0.399-0.381-0.227-0.716c0.055-0.109,0.321-0.373,0.383-0.42	c0.712-0.405,1.533-0.272,2.292,0.031c0.704,0.288,1.236,0.817,2.003,1.564c0.782,0.903,0.923,1.152,1.369,1.829	c0.352,0.529,0.673,1.074,0.892,1.696C32.016,26.905,31.844,27.224,31.382,27.419L31.382,27.419z"
              ></path>
            </svg>
          </div>
        </div>
        <div>
          <p class="mb-3 font-light">
            <p class="font-normal">
              <strong>OpenAI, Claude, Gemini or Deepseek,</strong> we are constently researching and benchmarking AI models to stay on top of the cutting edge innovations.
            </p>
          </p>
        </div>
      </div> -->
      </div>
    </div>
  </section>
  <section class="py-10 max-w-6xl mx-auto">
    <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-10 px-8 justify-center">
      <div class="justify-center flex flex-col">
        <h3 class="text-3xl font-medium mb-8">We connect to all your apps</h3>
        <p class="text-lg mb-8">
          Plus thousands more through APIs, custome code and web hooks.
        </p>
        <!-- <a
          href="#contact"
          class="max-w-fit px-6 py-3 bg-pale-aqua text-[#0D1117] rounded-xs hover:shadow-[0_0px_25px_rgba(194,242,237,0.4)] transition font-medium"
        >
          Automate Your Business Now
        </a> -->
      </div>
      <div class="grid md:grid-cols-7 lg:grid-cols-7 grid-cols-4 gap-8">
        <div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267b63b5e98441dc9282_Mail.png"
              loading="lazy"
              alt="Gmail"
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267b3634ac9b27eacc23_58482ec0cef1014c0b5e4a70m.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267b533aff48310c2c7b_zoom-logo-in-blue-colors-meetings-app.png"
              loading="lazy"
              alt="zoom"
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267a099c8583af67f880_Google_Drive.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267a3634ac9b27eacbdb_tmi462me99-microsoft-teams-logo-microsoft-teams.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267a30cff496b03c37d7_Microsoft_Exel.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267a541fde473a4f151c_Discord.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942679fae6a84b64b3ba38_Shopify.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942679b72ca9e39c6f899d_Old_file-microsoft-office-outlook-logo-present-svg-wikipedia-1.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/649426796f67f1e0644bcc6c_S.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942679533aff48310c2b65_Sales_Force.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942679c9b9e7a6853f5184_Slack_icon_2020.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267940a47641d75f8b6a_zoom-logo-in-blue-colors-meetings-app-logotype-free-png.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/649426787a1a98426b42d1e3_icon_(2020).png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942678eaf0cb93c0651bf7_Slack.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267742fa10094f3e6471_file-microsoft-office-outlook-wikipedia-1.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/649426760804578f81137675_58482ec0cef1014c0.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942676411fec0ff9ddd398_Webflow.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267742fa10094f3e6455_Google_Drive_Z.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942675e4949b66bda530c3_mi462me99-microsoft-teams-logo-microsoft-teams.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942675e02b9ba4e33f1bde_zoom-logo-in-blue-colors-meetings-app-logotype--png.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942675411fec0ff9ddd101_Google_Meet_icon_(2020).png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/6494267742fa10094f3e63e1_file-microsoft-office-outlook-logo-present-svg-wikipedia-1.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942675eaf0cb93c0651920_58482ec0cef1014c0b5e4a70.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/649426746f67f1e0644bc597_Google_Drive_Logo.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942674e4949b66bda52dd1_Google_Drive_Logo_512px.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/64942673cce0613c4a43942a_Slack_icon_2019.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div><div class="max-w-fit">
          <div class="single-app">
            <img
              src="https://cdn.prod.website-files.com/6427c6c769d01c2f58037956/649426737a1a98426b42cd5c_zoom-logo-in-blue-colors-meetings-app-logotype-illustration-free-png.png"
              loading="lazy"
              alt=""
              class="app-image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
