---
// src/components/Challenges.astro
---
<section id="stacks" class="py-5 text-center px-4">
  <h2 class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-4">Solutions_</h2>
  <p class="max-w-2xl mx-auto">
    We empower starting entrepreneurs with rapid MVP development, automated cloud infrastructure,
    and practical AI solutions. Built for efficiency from day one.
  </p>
</section>