---
// src/components/Challenges.astro
---

<section class="py-5 text-center px-4 flex flex-col items-center">
  <div class="max-w-8/10">
    <h2 class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-4">
      Challenges_
    </h2>
    <div class="py-5 grid grid-rows-1 grid-cols-4">
      <div class="flex max-w-sm p-6">
        <p class="font-normal italic">
          "My MVP is taking forever, and I'm burning cash."
        </p>
      </div>

      <div class="block max-w-sm p-6">
        <p class="font-normal italic">
          "I'm worried my current tech setup won't handle growth or is
          insecure."
        </p>
      </div>
      
      <div class="block max-w-sm p-6">
        <p class="font-normal italic">
          "We're swamped with manual tasks instead of focusing on our core
          product."
        </p>
      </div>

      <div class="block max-w-sm p-6 italic">
        <p class="font-normal">
          "AI seems powerful, but how can my small startup actually use it
          without a huge team?"
        </p>
      </div>
    </div>
  </div>
</section>
