<footer class="bg-pale-aqua border-t py-8">
  <div class="max-w-6xl mx-auto px-8 text-center text-[#0D1117]">
    <p>
      &copy; 2025 Ancillabs. All Rights Reserved. | Empowering New Entrepreneurs
    </p>
  </div>
</footer>
