---
// src/components/HowitWorks.astro
---

<section class="py-5 px-4 flex flex-col items-center">
  <h2
    class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-18 text-center"
  >
    Your Startup, Optimized: How We Deliver_
  </h2>
  <div class="mb-6">
    <div>
      <div>Imagine:</div>
      <ul class="list-disc">
        <li>
          Making your idea come to life and validating that it is a sound
          business.
        </li>
        <li>
          Deploying new features with confidence, knowing your infrastructure is
          automated and secure.
        </li>
        <li>
          Freeing up yourself and your team from repetitive tasks to focus on
          innovation and user delight.
        </li>
        <li>
          Making data-driven decisions because AI is providing actionable
          insights, not just hype.
        </li>
      </ul>
      <div>
        Ancillabs builds the systems that make these transformations possible.
      </div>
    </div>
  </div>

  <div class="py-5 grid grid-cols-2 gap-10">
    <div class="flex flex-col max-w-md p-6">
      <p class="font-semibold">Problem:</p>
      <p class="font-normal mb-6">
        "I have a brilliant app idea but no technical co-founder."
      </p>

      <p class="font-semibold">Ancillabs Solution:</p>
      <p class="font-normal mb-6">
        We act as your technical execution partner, guiding you from idea
        validation (Tier 0) through MVP launch (Tier 1) with clear communication
        and no jargon.
      </p>

      <p class="font-semibold">Benefit:</p>
      <p class="font-normal">Your vision brought to life, technically sound.</p>
    </div>

    <div class="flex flex-col max-w-md p-6">
      <p class="font-semibold">Problem:</p>
      <p class="font-normal mb-6">
        "Our initial MVP is gaining traction, but it's unstable and hard to
        update."
      </p>

      <p class="font-semibold">Ancillabs Solution:</p>
      <p class="font-normal mb-6">
        We assess your current setup, implement robust DevOps practices, migrate
        you to scalable Infrastructure as Code, and enhance your product (Tier 2
        or Consulting).
      </p>

      <p class="font-semibold">Benefit:</p>
      <p class="font-normal">Stable growth, faster iteration, peace of mind.</p>
    </div>
  </div>
</section>
