---
// src/components/Nav.astro
---

<nav class="w-full py-6 px-8 flex justify-between items-center">
  <div class="text-3xl text-pale-turquoise font-[Industry]">ANCILLABS</div>
  <ul class="flex gap-6">
    <li><a href="#home" class="hover:text-cornflower-blue">Home</a></li>
    <li>
      <a href="#challenges-and-approach" class="hover:text-cornflower-blue">Challenges</a>
    </li>
    <li>
      <a href="#solutions" class="hover:text-cornflower-blue">Solutions</a>
    </li>
    <li><a href="#contact" class="hover:text-cornflower-blue">Contact</a></li>
  </ul>
  <a
    href="#contact"
    class="bg-cornflower-blue text-[#0D1117] px-6 py-2 rounded-xs font-semibold hover:-translate-y-1 hover:shadow-[0_8px_25px_rgba(194,242,237,0.4)] transition-all duration-300"
    
  >
    Book Consultation
  </a>
</nav>

    <!-- class="bg-gradient-to-r from-pale-turquoise to-cornflower-blue text-[#0D1117] px-6 py-2 rounded-xs font-semibold hover:-translate-y-1 hover:shadow-[0_8px_25px_rgba(194,242,237,0.4)] transition-all duration-300" -->