---
// src/components/Nav.astro
---
<nav class="w-full py-6 px-8 flex justify-between items-center">
  <div class="text-3xl text-pale-turquoise font-[Industry]">ANCILLABS</div>
  <ul class="flex gap-6">
    <li><a href="#stacks" class="hover:text-blue-600">Our Stacks</a></li>
    <li><a href="#about" class="hover:text-blue-600">About</a></li>
  </ul>
</nav>