---
// src/components/Solutions.astro
---

<section class="py-14 flex flex-col items-center px-4">
  <div class="max-w-8/10">
    <h2
      class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-14 text-center"
    >
      Solutions_
    </h2>
    <p class="max-w-2xl mx-auto mb-6">
      Ancillabs delivers clear, effective technical solutions that translate
      directly into startup momentum. We handle the complexity, so you see the
      benefits.
    </p>

    <div class="py-5 grid grid-rows-1 grid-cols-4 gap-6">
      <div
        class="max-w-sm p-6 bg-gray-700 border rounded-sm shadow-sm flex flex-col justify-between"
      >
        <div>
          <a href="#">
            <h3
              class="mb-2 text-2xl font-semibold tracking-tight font-[Industry]"
            >
              Tier 0
            </h3>

            <p class="mb-3 font-medium">Validate Your Vision, Fast.</p>
          </a>
        </div>
        <div>
          <p class="mb-3 font-light">
            Don't build in the dark. We help you quickly test your core
            assumptions with landing pages and prototypes, ensuring you invest
            in what truly matters.
          </p>

          <p class="mb-3 font-normal">
            Gain Clarity & Reduce Risk Before Heavy Investment
          </p>
        </div>
        <div class="flex justify-end self-end">
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-normal text-center rounded-sm h-[36px] gap-2 font-[Industry]"
          >
            <p>[</p>
            <p>Validate Your Idea</p>
            <svg
              class="rtl:rotate-180 w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="square"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
            <p>]</p>
          </a>
        </div>
      </div>

      <div
        class="max-w-sm p-6 bg-gray-700 border rounded-sm shadow-sm flex flex-col justify-between"
      >
        <div>
          <a href="#">
            <h3
              class="mb-2 text-2xl font-semibold tracking-tight font-[Industry]"
            >
              Tier 1
            </h3>

            <p class="mb-3 font-medium">Launch Your Core Product in Weeks.</p>
          </a>
        </div>
        <div>
          <p class="mb-3 font-light">
            Go from concept to a live, scalable MVP swiftly. Our process focuses
            on essential features and automated cloud infrastructure, getting
            you to market and learning from users faster.
          </p>

          <p class="mb-3 font-normal">Get to Market Quickly & Reliably</p>
        </div>
        <div class="flex justify-end self-end">
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-normal text-center rounded-sm h-[36px] gap-2 font-[Industry]"
          >
            <p>[</p>
            <p>Build Your Lean MVP</p>
            <svg
              class="rtl:rotate-180 w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="square"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
            <p>]</p>
          </a>
        </div>
      </div>

      <div
        class="max-w-sm p-6 bg-gray-700 border rounded-sm shadow-sm flex flex-col justify-between"
      >
        <div>
          <a href="#">
            <h3
              class="mb-2 text-2xl font-semibold tracking-tight font-[Industry]"
            >
              Tier 2
            </h3>

            <p class="mb-3 font-medium">
              Build for Growth, Integrate Intelligence.
            </p>
          </a>
        </div>
        <div>
          <p class="mb-3 font-light">
            Ready to scale? We enhance your MVP with robust features, key
            integrations, and practical AI applications to improve user
            experience and operational efficiency.
          </p>

          <p class="mb-3 font-normal">Scale Smart & Unlock AI Potential</p>
        </div>
        <div class="flex justify-end self-end">
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-normal text-center rounded-sm h-[36px] gap-2 font-[Industry]"
          >
            <p>[</p>
            <p>Get an Enhanced MVP</p>
            <svg
              class="rtl:rotate-180 w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="square"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
            <p>]</p>
          </a>
        </div>
      </div>

      <div
        class="max-w-sm p-6 bg-gray-700 border rounded-sm shadow-sm flex flex-col justify-between"
      >
        <div>
          <a href="#">
            <h3
              class="mb-2 text-2xl font-semibold tracking-tight font-[Industry]"
            >
              Tier 3
            </h3>

            <p class="mb-3 font-medium">Access Expert Tech Leadership.</p>
          </a>
        </div>
        <div>
          <p class="mb-3 font-light">
            Navigate complex technical decisions and maintain operational
            excellence with our flexible retainers or project-based consulting.
            Your expert tech partner, on demand.
          </p>

          <p class="mb-3 font-normal">
            Make Confident Tech Decisions & Operate Smoothly
          </p>
        </div>
        <div class="flex justify-end self-end">
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-normal text-center rounded-sm h-[36px] gap-2 font-[Industry]"
          >
            <p>[</p>
            <p>Discuss Ongoing Needs</p>
            <svg
              class="rtl:rotate-180 w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="square"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
            <p>]</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
