---
// src/components/WhyUs.astro
import ScrollVelocity from "./ScrollVelocity";
---

<section id="why-us" class="py-5">
  <ScrollVelocity
    client:load
    texts={[
      "Integrated Expertise  ·  Automation-First Mindset  ·  Startup-Centric Solutions  ·  Future-Proof Foundations  ·  Founder-to-Founder Empathy  ·  ",
      // "Startup-Centric Solutions",
      // "Future-Proof Foundations",
      // "Founder-to-Founder Empathy",
    ]}
    velocity={100}
    className="custom-scroll-text"
  />
  <!-- <div class="max-w-6xl mx-auto px-8 text-lg">
    <h2 class="text-4xl font-normal font-[Industry] text-pale-turquoise mb-12">
      > Why Us_
    </h2>
    <div class="mb-4">
      <div class="mb-2">
        <strong>Integrated Expertise</strong>
      </div>
      <div>Seamless fusion of Development, DevOps, and AI strategy.</div>
    </div>

    <div class="mb-4 flex flex-col items-end">
      <div class="mb-2">
        <strong>Automation-First Mindset</strong>
      </div>
      <div>Efficiency is built-in, not an afterthought.</div>
    </div>

    <div class="mb-4">
      <div class="mb-2">
        <strong>Startup-Centric Solutions</strong>
      </div>
      <div>Tailored for early-stage realities, budgets, and speed.</div>
    </div>

    <div class="mb-4 flex flex-col items-end">
      <div class="mb-2">
        <strong>Future-Proof Foundations</strong>
      </div>
      <div>We build MVPs designed to scale.</div>
    </div>

    <div class="mb-4">
      <div class="mb-2">
        <strong>Korea Market Focus</strong>
      </div>
      <div>Understanding the local landscape to support your growth.</div>
    </div>

    <div class="mb-4 flex flex-col items-end">
      <div class="mb-2">
        <strong>Founder-to-Founder Empathy</strong>
      </div>
      <div>We're invested in your journey and success.</div>
    </div>
  </div> -->
</section>
