---
// src/layouts/Layout.astro
---
<html lang="en"  class="bg-black scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ancillabs</title>
  </head>
  <body class="font-sans antialiased">
    <slot />
  </body>
</html>